@model IEnumerable<TravelExpertsData.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center m-5">My Bookings</h1>

<div class="container mb-3">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package.PkgBasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.PkgName)
            </td>
                @*price is baseprice + commission*@
                <td>
                    @Html.DisplayFor(modelItem => item.Package.PkgBasePrice)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripType.Ttname)
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>*@
        </tr>
}   
    </tbody>
</table>
    <div class="card text-center">
        <h2>Total Booking Cost</h2>
        <div class="p-3">@ViewBag.TotalCost</div>
        
    </div>
        <a class="btn btn-outline-primary d-block" asp-action="BookPackage" asp-controller="Packages">Add Packages</a>
</div>